body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(128, 128, 128);
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2{
    color: rgba(0, 0, 0, 0.288);
}

#posts{
display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
gap: 20px;
width: 100%;
max-width: 1000px;
margin-top: 20px;
transition: transform 5s ease ease-in-out;
}

.post{
    color: coral;
    font-size: 1.5rem;
    margin-top: 0;
    border: #5555551f solid 3px;
    border-radius: 9px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
 
    
}
 #posts :hover {
    transform: translateY(-15px);
    transition: transform 0.5s;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.post p {
    color: #555;
    line-height: 1 rem;
}

#pagination-controls{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

#pagination-controls button {
    padding: 10px 20px;
    background-color: rgba(4, 0, 255, 0.521);
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s ease;

}


#pagination-controls button:hover:not(:disabled) {
    background-color: rgba(4, 0, 255, 0.521);
}

#pagination-controls button:disabled {
    background-color: rgba(250, 241, 215, 0.199);
    cursor: not-allowed;
}

#pagination-controls span {
    color: rgba(128, 128, 128, 0.521);
}